<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Usuário</title>
</head>
<body>
    <div>
        <p style="margin: 0; padding: 0;">Olá <b style="color: #118B9F;">[NICK]</b>,</p>
        <p style="margin: 0; padding: 0;">Seja bem vindo ao Sistema Atlas</p>
        <br>
        <p style="margin: 0; padding: 0;">Para acessar sua conta, clique no link abaixo:</p>
        <p style="margin: 0; padding: 0;"><a style="text-decoration: none; cursor: pointer; color: #118B9F; font-weight: bold; text-decoration: underline;" href="http://localhost:3000">atlas.sieg-ad.com.br</a></p>
        <br>
        <p style="margin: 0; padding: 0;">Suas credenciais de acesso são:</p>
        <p style="margin: 0; padding: 0;"><b style="color: #118B9F;">Usuário:</b> [NICK]</p>
        <p style="margin: 0; padding: 0;"><b style="color: #118B9F;">Senha:</b> [SENHA]</p>
        <br>
        <p style="margin: 0; padding: 0;">Você pode realizar o login através da sua sigla e senha, confira o wiki para mais informações.<p>
        <br>
        <p style="margin: 0; padding: 0;">Atenciosamente,</p>
        <p style="margin: 0; padding: 0;"><b style="color: #118B9F;">Equipe de Desenvolvimento</b></p>
        <br>
        <p style="margin: 0; padding: 0;"><i>Este é um e-mail automático, por favor não responda.<i></p>
    </div>
</body>
</html>