<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novas Notificações do Atlas</title>
</head>

<body>
    <div>
        <p>Olá, [nick]!</p>
        <p>Você tem editas com data para hoje. Por favor, acesse sua conta para conferir.</p>

        <p style="color: #118B9F; font-weight: bold;">Editais:</p>
        <p>[editais]</p>

        <p>Atenciosamente, </p>
        <p style="color: #118B9F">Equipe de Desenvolvimento</p>
    </div>
</body>
</html>