<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar Senha</title>
</head>
<body>
    <div>
        <p style="margin: 0; padding: 0;">Olá <b style="color: #118B9F;">[NICK]</b>,</p>
        <p style="margin: 0; padding: 0;">Foi solicitada uma alteração de senha na sua conta do Sistema Atlas.</p>
        <p style="margin: 0; padding: 0;">Se você não solicitou essa alteração, por favor, ignore este e-mail.</p>
        <br>
        <p style="margin: 0; padding: 0;">Seu código de renovação é: <b style="color: #118B9F;">[CODIGO]</b></p>
        <br>
        <p style="margin: 0; padding: 0;">Atenciosamente,</p>
        <p style="margin: 0; padding: 0;"><b style="color: #118B9F;">Equipe de Desenvolvimento</b></p>
        <br>
        <p style="margin: 0; padding: 0;"><i>Este é um e-mail automático, por favor não responda.<i></p>
    </div>
</body>
</html>