<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação do Termo de Referência - [ORGAO] - [EDITAL] [PROCESSO]</title>
</head>
<body>
    <div>
        <p>Prezados Membros da CPL, [SAUDACAO].</p><br>
        <p style="margin: 0; padding: 0;">A empresa [EMPRESA] vem sob o respaldo do interesse público, eficiência e economicidade, reiterar a solicitação feita anteriormente
            do Termo de Referência da Cotação de Preço [PROCESSO], cujo objeto é [OBJETO] [ABERTURA], pois não tivemos retorno.</p><br>
        <p>Poderia nos enviar o termo de referência o mais breve possível por gentileza?</p><br>
        <p style="margin: 0; padding: 0;">Aguardamos o retorno e agradeço a atenção desde já.</p>
    </div>
</body>

</html>