<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação do Termo de Referência - [ORGAO] - [EDITAL] [PROCESSO]</title>
</head>
<body>
    <div>
        <p>Prezados Membros da CPL, [SAUDACAO].</p><br>
        <p style="margin: 0; padding: 0;">A empresa [EMPRESA] vem sob o respaldo do interesse público, eficiência e economicidade, solicitar o Termo de Referência da Cotação de Preço
            [EDITAL], cujo objeto é [OBJETO] [ABERTURA].</p><br>
        <p style="margin: 0; padding: 0;">Certos de sua compreensão, agradecemos antecipadamente.</p>
    </div>
</body>

</html>