<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Edital - [ORGAO] - [EDITAL]</title>
</head>
<body>
    <div>
        <p>Prezados Membros da CPL, [SAUDACAO].</p><br>
        <p style="margin: 0; padding: 0;">A empresa [EMPRESA] vem sob o respaldo do interesse público, eficiência e economicidade, solicitar o Edital do [EDITAL], cujo
        objeto é [OBJETO] [DATAUX2].</p><br>
        <p>Inicialmente, cumpre ressaltar que a publicidade é alcançada não somente pela publicação dos atos, mas, sobretudo, pela viabilização do amplo acesso de todos os 
        interessados aos processos e atos que integram a licitação.</p><br>
        <p>Edital não disponível no site.</p>
        <p> [ARTIGO] <p><br>
        <p>A participação no certame está condicionada ao conhecimento prévio de sua existência, o anúncio inicial da ocorrência do procedimento
        licitatório e das informações necessárias para participação assume uma importância primordial.</p><br>
        <p>O edital de licitação é o instrumento utilizado pela Administração Pública para divulgar a abertura do processo licitatório,
        acompanhado de informações pertinentes aos licitantes. Além disso, o edital define o objeto licitado e os requisitos necessários
        do contrato a ser celebrado, convidando todos os interessados a disputar a licitação.</p><br>
        <p>Por fim, importante lembrar que a Administração Pública rege-se dentre outros princípios pelo da Legalidade e da Publicidade, ou seja,
        não lhe é facultado à publicação de seus atos, mas sim, uma obrigação que decorre de um dispositivo legal</p><br>
        <p>Salientamos também que não tivemos êxito, em busca de outros meios de comunicação com o órgão, como o contato telefônico.</p> 
    </div>
</body>

</html>