<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denúncia - [ORGAO] - [EDITAL]</title>
</head>
<body>
    <div>
        <p>Prezados Senhores, [SAUDACAO]!</p><br>
        <p style="margin: 0; padding: 0;">Venho através deste solicitar cópia do edital do [EDITAL], do órgão [ORGAO], cujo objeto `[OBJETO] que ocorrerá na data [DATA].</p>
        <div style="margin: 0; padding: 0;">Pois conforme status abaixo do nosso sistema, fizemos vários dias contato com órgão, porém não obtivemos êxito:</div>
        <p style="margin: 0; padding: 0;">E-mail(s): [EMAIL]</p><br>
        <p style="margin: 0; padding: 0;">Telefone(s): [TELEFONE]</p><br>
        <p style="margin: 0; padding: 0;">Site(s): [SITE]</p><br>
        <p style="margin: 0; padding: 0;">Tentativas: [TENTATIVA]</p><br>
        <p style="margin: 0; padding: 0;">Fizemos busca na internet por outros Órgãos do Município a fim de conseguir outro número de telefone válido, mas não obtivemos sucesso.</p><br>
        <p style="margin: 0; padding: 0;">Esse tipo de atitude por parte de Vossa Senhoria fere o princípio da legalidade, moralidade e publicidade que deve presidir em todo processo
        de licitação, além de se tornar inconstitucional de acordo com o Art. 37 da Constituição Federal:</p><br>
        <p style="margin: 0; padding: 0;">A administração pública direta, indireta ou fundacional, de qualquer dos Poderes da União, dos Estados, do Distrito Federal e dos Municípios
        obedecerá aos princípios de legalidade, impessoalidade, moralidade e publicidade.</p><br>
        <p style="margin: 0; padding: 0;">Além de frustrar TOTALMENTE o caráter competitivo do presente certame de acordo com o § 1º inciso I Art. 3 da Lei nº 8666/93... é vedado aos
        agentes públicos: I– admitir, prever, incluir ou tolerar, nos atos de convocação, cláusulas ou condições que comprometam, restrinjam ou frustrem
        o seu caráter competitivo e estabeleçam preferências ou distinções em razão da naturalidade, da sede ou domicílio dos licitantes ou de qualquer
        outra circunstância impertinente ou irrelevante para o específico objeto do contrato;</p><br>
        <p style="margin: 0; padding: 0;">Esta empresa vem legalmente fundamentada sugerir que o presente edital seja suspenso e que seja agendada nova data para sua abertura, haja
        vista não haver tempo hábil para impugnação de acordo com o § 1º Art. 41 da Lei 8666/93: `Qualquer cidadão é parte legítima para impugnar edital
        de licitação por irregularidade na aplicação desta Lei, devendo protocolar o pedido <b>até 5 (cinco) dias úteis antes da data fixada para a
        abertura dos envelopes de habilitação</b>, devendo a Administração julgar e responder à impugnação em até 3 (três) dias úteis, sem prejuízo da
        faculdade prevista no § 1º do art. 113.</p><br>
        <p style="margin: 0; padding: 0;">Ora, o que demonstramos acima é que a não disponibilização do edital em tempo hábil fere o direito e a legitimidade de todos os cidadãos,
        afinal é garantido ao cidadão direito de impugnar ou esclarecer dúvidas com relação a qualquer processo licitatório.</p><br>
        <p style="margin: 0; padding: 0;">Sob o respaldo do interesse público, eficiência e economicidade, essa empresa se baseando no: Art. 133 da Lei 8666/93 § 1º “Qualquer licitante,
        contratado ou pessoa física ou jurídica poderá representar ao Tribunal de Contas ou aos órgãos integrantes do sistema de controle interno contra
        irregularidades na aplicação desta Lei, para os fins do disposto neste artigo.”</p><br>
        <p style="margin: 0; padding: 0;">Este e-mail está sendo encaminhado em cópia para o Tribunal de Contas e Ministério Público/[UF]</p>
        <p style="margin: 0; padding: 0;">Aguardamos o retorno, mais breve devido o prazo da licitação.</p><br>
        <p style="margin: 0; padding: 0;">Certos de sua compreensão, agradecemos antecipadamente.</p>
    </div>
</body>

</html>