<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Edital - [ORGAO] - [EDITAL]</title>
</head>
<body>
    <div>
        <p>Prezados Membros da CPL, [SAUDACAO].</p><br>
        <p style="margin: 0; padding: 0;">A empresa [EMPRESA] vem sob o respaldo do interesse público, eficiência e economicidade, solicitar o Edital do [EDITAL],
        cujo objeto é [OBJETO] [DATAUX2].</p><br>
        <p>Edital não disponível no site.</p><br>
        <p style="margin: 0; padding: 0;">[EDITAL] [DATAUX], gentileza, encaminhar com urgência, pois necessitamos de tempo hábil, para poder participar do certame.</p><br>
        <p style="margin: 0; padding: 0">Certos de sua compreensão, agradecemos antecipadamente.</p>
    </div>
</body>

</html>