<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de informações - [ORGAO] - [PROCESSO]</title>
</head>

<body>
    <p style="padding: 0; margin: 0;">Prezados, [SAUDACAO].</p>
    <p style="padding: 0; margin: 0;">A empresa SIEG Apoio Administrativo devidamente inscrita no CNPJ:
        06.213.683/0001-41, vem, através deste, reiterar a solicitação de informações realizada anteriormente quanto ao
        andamento do [PROCESSO], cujo o objeto é ‘[OBJETO]’, visto que o mesmo ainda encontra-se ‘SUSPENSO’ e
        ainda não teve nenhuma nova movimentação.</p><br>
    <p style="padding: 0; margin: 0;"><strong>O certame será reaberto? Há previsão da data para continuidade no
            andamento no certame?</strong></p><br>
    <p style="padding: 0; margin: 0;">Aguardamos retorno e desde já agradecemos a atenção dispensada.</p>
</body>

</html>