<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Informações - [ORGAO] - [PROCESSO]</title>
</head>

<body>
    <p style="margin: 0; padding: 0;">Prezados, [SAUDACAO].</p>
    <p style="margin: 0; padding: 0;">A empresa SIEG Apoio Administrativo devidamente inscrita no CNPJ:
        06.213.683/0001-41, vem, através deste, solicitar mais informações sobre o andamento do,
        [PROCESSO], cujo o objeto é "[OBJETO]", visto que após "SUSPENSO" não localizamos nenhuma atualização do
        mesmo.</p><br>
    <p><strong>O certame será reaberto? Há previsão da data para continuidade no andamento no certame?</strong></p><br>
    <p>Aguardamos retorno e desde já agrademos a atenção dispensada.</p>
</body>

</html>