<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de informações - [ORGAO] - [PROCESSO]</title>
</head>

<body>
    <p style="padding: 0; margin: 0;">Olá prezados, [SAUDACAO].</p>
    <p style="padding: 0; margin: 0;">Ratifico o pedido informado no e-mail anteriormente encaminhado em
        [ULTIMO_ENVIO].</p>
    <p style="padding: 0; margin: 0;">Ressalto ainda o caráter público necessário às informações vinculadas aos
        procedimentos licitatórios, de modo que
        o retorno aos questionamentos pontuados na presente demanda zela pelo princípio da publicidade, vinculado ao
        processo por força constitucional. Logo, a ausência deste imputa afronta ao referido princípio.</p><br>
    <p style="padding: 0; margin: 0;">Deste modo, mais uma vez, solicitamos mais informações sobre o andamento do
        [PROCESSO], cujo o objeto é
        ‘[OBJETO]’, visto que o mesmo ainda se encontra ‘SUSPENSO’ conforme se verifica:</p>
    <p style="padding: 0; margin: 0;">[LINKS_REGISTRADOS]</p><br>
    <p style="padding: 0; margin: 0;"><strong>O certame será reaberto? Há previsão da data para andamento no certame ou
            o processo encontra-se
            arquivado?</strong></p><br>
    <p style="padding: 0; margin: 0;">Aguardamos retorno e desde já agradecemos a atenção dispensada.</p>
</body>

</html>