<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitacao de Informações - [ORGAO] - [PROCESSO]</title>
</head>
<body>
    <div>
        <p>Prezados, [SAUDACAO].</p>
        <p style="margin: 0; padding: 0;">A empresa SIEG Apoio Administrativo devidamente inscrita no CNPJ:
            06.213.683/0001-41, vem, através deste, solicitar mais informações sobre o andamento do, [PROCESSO], cujo
            objeto é "[OBJETO]", visto que o mesmo ainda encontra-se com o status "SUSPENSO" na plataforma de
            participação eletrônica e no site do Órgão não constam atualizaçoes.</p><br>
        <p style="margin: 0; padding: 0;"><strong>O certame será reaberto? Há previsão da data para continuidade no andamento no certame?</strong></p><br>
        <p style="margin: 0; padding: 0;">Aguardamos retorno e desde já agradecemos a atenção dispensada</p>
    </div>
</body>

</html>