<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetar Senha</title>
</head>
<body>
    <div>
        <p style="margin: 0; padding: 0;">Olá <b style="color: #118B9F;">[nick]</b>,</p>
        <br>
        <p style="margin: 0; padding: 0;">Sua senha para o login local é: <b style="color: #118B9F;">[password]</b></p>
        <p style="margin: 0; padding: 0;">Ela pode ser alterada a qualquer momento na página de perfil, confira o wiki para mais informações.</p>
        <br>
        <p style="margin: 0; padding: 0;">Clique no link abaixo para acessar o Sieg Atividades:</p>
        <p style="margin: 0; padding: 0;"><a style="text-decoration: none; cursor: pointer; color: #118B9F; font-weight: bold; text-decoration: underline;" href="https://atividades.sieg-ad.com.br">atividades.sieg-ad.com.br</a></p>
        <br>
        <p style="margin: 0; padding: 0;">Atenciosamente,</p>
        <p style="margin: 0; padding: 0;"><b style="color: #118B9F;">Equipe de Desenvolvimento</b></p>
        <br>
        <p style="margin: 0; padding: 0;"><i>Este é um e-mail automático, por favor não responda.<i></p>
    </div>
</body>
</html>