<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua semana precisa de reajustes</title>
</head>
<body>
    <div>
        <p style="margin: 0; padding: 0;">Olá <b style="color: #118B9F;">[nick]</b>,</p>
        <br>
        <p style="margin: 0; padding: 0;">Sua planilha da semana <b>[week]</b> precisa ser revisada, caso tenha dúvidas, fale com o seu lider.</p>
        <br>
        <p style="margin: 0; padding: 0;">Atenciosamente,</p>
        <p style="margin: 0; padding: 0;"><b style="color: #118B9F;">Equipe de Desenvolvimento</b></p>
        <br>
        <p style="margin: 0; padding: 0;"><i>Este é um e-mail automático, por favor não responda.<i></p>
    </div>
</body>
</html>